@import '../variables/_main';
@include resetStyles;
@media (min-width:1200px) {
  .container-navegacion{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
    align-items: center;
    background-color: #353A40;
    position: absolute;
    max-width: 100%;
    width: 100%;
  
    .hamburguesa {
      display: none;
    }
   
    .logo{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-content: center;
  
      img{
        width: 100px;
      }
  
      h1{
        font-size: 20px;
        color: white;
      }
    }
  
  
    
  //color: #6D7379;;
  
  
  }
  .container-navegacion {
  
    li .disable{
      color: rgb(98,119,75);
    }
     li a {
      color: rgb(113,116,124);
      
  }
    li .activo{
      color: white;
    }
    
  
  }
  
  header{
    display: flex;
    background-image: url('../ba1.jpg');
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-color: rgb(72, 77, 77);
    justify-content: flex-end;
    align-items: center;
  
    .todo{
  
      display: flex;
      flex-direction: column;
      width: 40%;
      justify-content: end;
      margin-right: 100px;
      h1{
        color: white;
        text-align: end;
        
      }
      p {
        color: white;
        text-align: end;
      }
      .botones{
        text-align: end;
  
        button:first-child{
          background: transparent;
          border: 1px solid white;
        }
  
        button:last-child{
          background-color: #97C745;
          border: 1px solid white;
        }
      }
    }
  }
  
  .card{
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  
    .tarjetas{
      display: flex;
      width: 80%;
      justify-content: center;
    }
    .titulos {
      p{
        color: rgb(106, 112, 112);
        font-size: 15px;
      
      }
      h1{
        text-transform: uppercase;
      }
    }
  
    .card-body{
      display: flex;
      text-align: start;
      flex-direction: column;
      .tecnologias{
        
        margin-bottom: 10px;
  
          span:first-child{
            background-color: #F0BE13;
            border: 1px solid #F0BE13;
            border-radius: 10px;
            padding-right: 5px;
            padding-left: 5px;
            font-weight: 700;
  
          } 
        span:last-child{
          background-color: #1F98A9;
          border: 1px solid #1F98A9;
          border-radius: 10px;
          padding-right: 5px;
          padding-left: 5px;
          font-weight: 700;
          color: white;
  
        } 
      }
  
      .unico{
        margin-bottom: 10px;
          
            span:first-child{
              background-color: #6F7477;
              border: 1px solid #6F7477;
              border-radius: 10px;
              padding-right: 5px;
              padding-left: 5px;
              font-weight: 700;
              color: white;
        
          } 
          span:last-child{
            background-color: #E16F78;
            border: 1px solid #E16F78;
            border-radius: 10px;
            padding-right: 5px;
            padding-left: 5px;
            font-weight: 700;
            color: white;
        
        }
      
    }
      
    
    }
  
  }
  
  .galeria{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    
  
    .info{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-self: center;
      
      .img{
        width: 50%;
      }
      .info1{
        width: 50%;
        background-color: #353A40;
        color: white;
        margin-left: 1px;
        padding: 1rem;
        h1{
          font-size: 30px;
        }
        button{
          background: transparent;
  
        }
      }
    }
    
    }
  
    .formulario{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
  
      .formulario-titulos{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
      }
      span{
        font-weight: 200;
        color: rgb(85, 82, 82);
        font-size: 15px;
      }
  
      button{
        width: 650px;
        height: auto;
        background-color: #98C83C;
        color: white;
        border: 1px solid #98C83C;
      }
    }
  
    footer{
      display: flex;
      justify-content: center;
      background-color: #1F506E;
      align-content: center;
      align-self: center;
      align-items: center;
      height: auto;
      width: 100%;
      
      ul{
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      
    }
  
    footer{
      display: flex;
      justify-content: center;
      align-items: center;
      
      ul{
        padding: 2rem;
       
        .footer{
          color: white;
        }
        
      }
    }
}
  
    @media (max-width: 1200px){
      .container-navegacion{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;
        align-items: center;
        background-color: #353A40;
        position: absolute;
        max-width: 100%;
        width: 100%;
      
        .hamburguesa {
          display: flex;
          button{
            background-color: #353A40 !important;
            
          }
    
          i{
            font-size: 80px;
          }
          a{
            font-size: 50px;
          }
        }
    
        ul{
          display: none;
        }
       
        .logo{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          align-content: center;
      
          img{
            width: 300px;
          }
      
          h1{
            font-size: 40px;
            color: white;
          }
        }
      
      
        
      //color: #6D7379;;
      
      
      }
      .container-navegacion {
      
        li .disable{
          color: rgb(98,119,75);
        }
         li a {
          color: rgb(113,116,124);
          
      }
        li .activo{
          color: white;
        }
        
      
      }
      
      header{
        display: flex;
        background-image: url('../ba1.jpg');
        width: 100%;
        height: 100vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: soft-light;
        background-color: rgb(72, 77, 77);
        justify-content: center;
        align-items: center;
      
        .todo{
      
          display: flex;
          flex-direction: column;
          width: 70%;
          justify-content: center;
          margin: 0%;
          text-align: start;
          h1{
            color: white;
            text-align: start;
            font-size: 100px;
            
          }
          p {
            color: white;
            text-align: start;
            font-size: 40px;
          }
          .botones{
            text-align: start;
            display: flex;
            button:first-child{
              background: transparent;
              border: 1px solid white;
              font-size: 40px;
              margin: 6px;
            }
      
            button:last-child{
              background-color: #97C745;
              border: 1px solid white;
              font-size: 40px;
              margin: 6px;
            }
          }
        }
      }
      
      .card{
        display: flex;
        padding: 2rem;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
      
        .tarjetas{
          display: flex;
          width: 80%;
          justify-content: center;
          flex-direction: column;

          .centrando{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            
            .col{
              width: 100%;

              .card-body {
                width: 80%;
              }
            }

            img{
              width: 500px;
            }
          }
          
        }
        .titulos {
          p{
            color: rgb(106, 112, 112);
            font-size: 30px;
          
          }
          h1{
            text-transform: uppercase;
            font-size: 70px;
          }
        }
      
        .card-body{
          display: flex;
          text-align: start;
          flex-direction: column;
          h5{
            font-size: 50px;
          }
          P{
            font-size: 30px;
          }
          .tecnologias{
            
            margin-bottom: 10px;
           
      
              span:first-child{
                background-color: #F0BE13;
                border: 1px solid #F0BE13;
                border-radius: 10px;
                padding-right: 5px;
                padding-left: 5px;
                font-weight: 700;
                font-size: 30px;
              } 
            span:last-child{
              background-color: #1F98A9;
              border: 1px solid #1F98A9;
              border-radius: 10px;
              padding-right: 5px;
              padding-left: 5px;
              font-weight: 700;
              color: white;
              font-size: 30px;
      
            } 
          }
      
          .unico{
            margin-bottom: 10px;
              
                span:first-child{
                  background-color: #6F7477;
                  border: 1px solid #6F7477;
                  border-radius: 10px;
                  padding-right: 5px;
                  padding-left: 5px;
                  font-weight: 700;
                  color: white;
                  font-size: 30px;
            
              } 
              span:last-child{
                background-color: #E16F78;
                border: 1px solid #E16F78;
                border-radius: 10px;
                padding-right: 5px;
                padding-left: 5px;
                font-weight: 700;
                color: white;
                font-size: 30px;
            
            }
          
        }
          
        
        }
      
      }
      
      .galeria{
      
        display: flex;
        flex-direction: column;
        align-items: center;
        
      
        .info{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-self: center;
          
          .img{
            width: 100%;
          }
          .info1{
            width: 100%;
            background-color: #353A40;
            color: white;
            padding: 1rem;
            
            h1{
              font-size: 60px;
              
            }
            p{
              font-size: 30px;
            }
            button{
              background: transparent;
              font-size: 30px;
      
            }
          }
        }
        
        }
      
        .formulario{
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
      
          .formulario-titulos{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;

            p{
              font-size: 40px;
            }
            h1{
              font-size: 70px;
            }
          }
          span{
            font-weight: 200;
            color: rgb(85, 82, 82);
            font-size: 15px;
          }
      
          button{
            width: 650px;
            height: auto;
            background-color: #98C83C;
            color: white;
            border: 1px solid #98C83C;
          }

          .form{
            .col{
              width: 300px;
              margin-bottom: 30px;
            }
            padding: 1rem;
            margin-bottom: 40px;

            input{
              font-size: 40px;
              height: 80px;
            }

            
          }

          textarea{
            font-size: 60px;
          }
          span{
            font-size: 40px;
          }

          button{
            font-size: 50px;
          }
        }
      
        footer{
          display: flex;
          justify-content: center;
          background-color: #1F506E;
          align-content: center;
          align-self: center;
          align-items: center;
          height: auto;
          width: 100%;
          
          ul{
            display: flex;
            flex-direction: row;
            align-items: center;
          }
          
        }
      
        footer{
          display: flex;
          justify-content: center;
          align-items: center;
          
          ul{
            padding: 2rem;
            display: flex;
            flex-direction: column;
           
            .footer{
              color: white;
              font-size: 45px;
            }
            
          }
        }
          
    }
    
    
    
    
    
